<dx-drawer [opened]="isSidebarOpen" [minSize]="0" [maxSize]="240" position="left">
  <div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <img [src]="logoPath" alt="Logo" />
    </div>

    <!-- Navigation Icons -->
    <div class="icons">
        <app-icon
          *ngFor="let item of navItems"
          [iconPath]="item.iconPath"
        ></app-icon>
    </div>

    <!-- Profile -->
    <div class="profile">
      <div class="initials-badge">{{ initials }}</div>
    </div>
  </div>
</dx-drawer>