.sidebar {
    width: 76px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding-top: 242px;
  }
  
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .initials-badge {
    margin-top: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 998;
  }
  