.deal-card {
    width: 200px;
    margin: 5px;
    margin-bottom: 15px;
    position: relative;
    padding: 10px;
    z-index: 10;
    font-family: 'poppins';
}
  
.edit-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 5px;
    opacity: 0.8;
    font-size: 15px;
    z-index: 20;
}
  
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding-right: 30px;
}
  
.dealname {
    font-weight: 550;
    font-size: 14px;
    color: #333333;
}
  
.deal-details {
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-size: 14px;
}
  
.deal-content {
    color: #666666;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.content > div {
    margin-bottom: 8px;
}
  
.content > div:last-child {
    margin-bottom: 0;
}