<div class="deal-card dx-card" (mouseenter)="hover = true" (mouseleave)="hover = false" (click)="onCardClick()">
    <div class="content">
      <div class="dealname">{{deal.title}}</div>
      <div class="deal-details">
        <div>{{deal.amount | currency:'USD':'symbol':'1.2-2':'en-US'}}</div>
        <div>{{deal.closeDate | date: 'd MMM y' }}</div>
      </div>
      <div class="deal-content">{{deal.account}} {{(deal.companyName)}}</div>
      <div class="deal-content">{{deal.department}}</div>
      <div class="deal-content">{{deal.probability}}</div>
      <div class="deal-content">{{deal.region}}</div>
      <!-- <div class="deal-content">{{deal.doc}}</div> -->
    </div>
    <span class="dx-icon-edit edit-icon" *ngIf="hover" (click)="onEditClick($event)"></span>
</div>