<div class="deal-card dx-card" (mouseenter)="hover = true" (mouseleave)="hover = false">
    <div class="content">
      <div class="dealname">{{deal.title}}</div>
      <div class="deal-details">
        <div>{{deal.amount}}</div>
        <div>{{deal.date}}</div>
      </div>
      <div class="deal-content">{{deal.companyName}} {{deal.account}}</div>
      <div class="deal-content">{{deal.department}}</div>
      <div class="deal-content">{{deal.probability}}%</div>
      <div class="deal-content">{{deal.region}}</div>
      <!-- <div class="deal-content">{{deal.doc}}</div> -->
    </div>
    <span class="dx-icon-edit edit-icon" *ngIf="hover"></span>
</div>