.deal-card {
    width: 250px;
    margin: 5px;
    margin-bottom: 15px;
    position: relative;
    padding: 10px;
    z-index: 10;
    font-family: 'poppins';
    box-sizing: border-box;
    transition: border-color 0.2s ease;
}
 
.deal-card:hover {
    border-color: #1E90FF;
}
 
.deal-card.dx-card {
  box-shadow: none;
}
 
.edit-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    padding: 5px;
    opacity: 0.8;
    font-size: 15px;
    z-index: 20;
    display: none;
}

.deal-card:hover .edit-icon {
  display: inline-block; 
}
 
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding-right: 30px;
}
 
.dealname {
    font-weight: 550;
    font-size: 14px;
    color: #333333;
}
 
.dealname:hover {
  color: #1E90FF;
}
 
.deal-amount {
  font-weight: bold;
}
 
.close-date {
    font-weight: bold;
}
 
.deal-details {
    display: flex;
    justify-content: space-between;
    color: #666666;
    font-size: 14px;
}
 
.deal-content {
    color: #666666;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
 
.content > div {
    margin-bottom: 8px;
}
 
.content > div:last-child {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
  .edit-icon {
    display: inline-block; 
  }
}

@media (max-width: 768px) {
  .edit-icon {
    display: inline-block; 
  }
}


@media (max-width: 480px) {
  .edit-icon {
    display: inline-block; 
  }
}
 