.deal-header {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  
.title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333333;
}
  
.summary {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 4px;
    color: #666666;
}
  
.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}