<div class="deal-header" [class.vertical]="collapsed" [ngClass]="{
  'closed-won': stageName === 'Closed Won',
  'closed-lost': stageName === 'Closed Lost'
}">
  <span *ngIf="!collapsed">
    <div class="title">{{stageName}}</div>
    <div class="summary">
      <div class="amount"> {{amount | currency:'USD':'symbol':'1.2-2':'en-US' }}</div>
      <div class="count">{{dealCount}} Deal{{ dealCount !== 1 ? 's' : '' }}</div>
    </div>
  </span>
  <span *ngIf="collapsed" class="vertical-text">
    <div class="vertical-item stage-name">{{stageName}}</div>
    <div class="vertical-item deal-count">{{dealCount}} Deal{{ dealCount !== 1 ? 's' : '' }}</div>
    <div class="vertical-item amount">{{amount | currency:'USD':'symbol':'1.2-2':'en-US'}}</div>
  </span> 
</div>