<div class="page-container">
  <div class="sidebar-space"></div>
  
  <div class="content-container">
    <div class="topbar">
      <h1>Contacts</h1>
      <div class="total-count">
        Total Contacts: {{ totalContacts }}
      </div>
    </div>
    
    <div class="table-wrapper">
      <app-table
        [data]="tableData"
        [headers]="tableHeaders"
        [useOwnerTemplate]="true"
        [ownerField]="'owner'"
        [exportFileName]="'Contacts'"
      ></app-table>
    </div>
  </div>
</div>