<div class="container">
  <div class="topbar">
      <h1>Dashboard</h1>
  </div>
  <div class="metric-section">
    <app-metric-card-outline
    
    ></app-metric-card-outline>
  </div>

  <div class="dashboard-grid">
    <app-top-company [companyData]="companyData"></app-top-company>
  </div>
  <div class="side-graph">
    <app-pipeline-stage-graph [stages]="stages"></app-pipeline-stage-graph>
  </div>

  <div class="grid-container">
    <app-revenue-chart [revenueData]="revenueData"></app-revenue-chart>
  </div>
</div>
