:host {
  display: block;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  :host {
    padding: 0.5rem;
  }
}

.chart-wrapper {
  padding: 1rem;
  padding-left: 7.5%;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .chart-wrapper {
    padding: 0rem;
    
  }
}

@media (max-height: 480px) {
  .chart-wrapper {
    padding: 0rem;
  }
}