.popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
 
.form-container {
  flex: 1;
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 20px;
}
 
:host ::ng-deep .dx-form {
  width: 100%;
}
 
app-modal-buttons {
  flex-shrink: 0;
  padding-top: 10px;
}
 
.form-container::-webkit-scrollbar {
  width: 8px;
}
 
.form-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
.form-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
 
.form-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 
:host ::ng-deep .dx-field-item-label {
  font-weight: bold !important;
}
 
:host ::ng-deep .bold-label {
  font-weight: bold !important;
}
.company-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.company-name-container dx-select-box {
  flex-grow: 1;
}
 
.company-name-container dx-button {
  flex-shrink: 0;
}
 