<div class="topcard" [class.compact]="variant === 'compact'">
  <div class="topcard-icon" [style.background-color]="iconColor">
  <img
  *ngIf="icon"
  [src]="icon"
  alt="{{ title }} icon"
  class="svg-icon"
  [ngClass]="{ 'compact-icon-img': variant === 'compact' }"
/>
  </div>
  <div class="topcard-content">
    <h3 class="topcard-amount">
      {{ isCurrency ? (amount | currency:'INR':'symbol':'1.2-2':'en-IN') : amount }}
    </h3>
    <p class="topcard-title">{{ title }}</p>
  </div>
</div>
