<div class="deal-header">
  <div class="deal-left">
    <h2>Display Screen</h2>
    <p>Amount: $50,000.00</p>
  </div>
  <div class="deal-right">
    <p><i class="dx-icon-group"></i> KniTT</p>
    <p>Closing Date : 3 Jun 2025</p>
  </div>
</div>


<!-- <div class="deal-header">
  <div class="deal-left">
    <h2>{{ deal?.title}}</h2>
    <p>Amount: <strong>{{ deal?.amount}}</strong></p>
  </div>
  <div class="deal-right">
    <p><i class="dx-icon-group"></i> {{ deal?.companyName}}</p>
    <p><strong>Closing Date :</strong> {{ deal?.date}}</p>
  </div>
</div> -->
