<div class="deal-header" *ngIf="deal">
  <div class="deal-left">
    <h2>{{ deal.deal_name }}</h2>
    <p>Amount: {{ deal.amount | currency:'USD' : 'symbol' : '1.2-2' : 'en-US'}}</p>
  </div>
  <div class="deal-right">
    <p><i class="dx-icon-group"></i>{{ deal.company_name }}</p>
    <p>Closing Date : {{deal.closing_date | date:'d MMM y'}}</p>
  </div>
</div>


<!-- <div class="deal-header">
  <div class="deal-left">
    <h2>{{ deal?.title}}</h2>
    <p>Amount: <strong>{{ deal?.amount}}</strong></p>
  </div>
  <div class="deal-right">
    <p><i class="dx-icon-group"></i> {{ deal?.companyName}}</p>
    <p><strong>Closing Date :</strong> {{ deal?.date}}</p>
  </div>
</div> -->
