<div class="table-container">
  <app-table-outline>
    <dx-data-grid
      [dataSource]="data"
      [columns]="headers"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [hoverStateEnabled]="true"
      [class]="classNames"
      (onSelectionChanged)="onSelectionChanged($event)"
    >
      <dxo-selection mode="multiple" [selectAllMode]="'allPages'" [showCheckBoxesMode]="'always'"></dxo-selection>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-paging [pageSize]="pageSize"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="allowedPageSizes"
        [showInfo]="true"
        [showNavigationButtons]="true"
      ></dxo-pager>
      <div *dxTemplate="let cell of 'ownerCellTemplate'">
        <div class="owner-cell">
          <div class="owner-avatar" [ngClass]="getOwnerClass(cell.data.owner)">
            {{ getOwnerInitial(cell.data.owner) }}
          </div>
          <span class="owner-name">{{ cell.data.owner }}</span>
        </div>
      </div>
    </dx-data-grid>
  </app-table-outline>
</div>