<div class="container">
  <dx-toast
    #toastInstance
    [(visible)]="toastVisible"
    [type]="toastType"
    [displayTime]="3000"
    position="top center"
    [width]="300">
    <div *dxTemplate="let data of 'content'">
      <span>{{ toastMessage }}</span>
    </div>
  </dx-toast>
 
  <div class="topbar">
    <h1>Pipelines</h1>
    <div class="topbar-actions">
      <!-- View switching icons -->
      <div class="view-icons">
        <span
          class="view-icon"
          [class.active]="selectedTabId === 'card'"
          (click)="switchView('card')"
          title="Card View">
          <img src="assets/card-view.svg" alt="Card View" width="20" height="20">
          <span class="view-label">Card View</span>
        </span>
        <span
          class="view-icon"
          [class.active]="selectedTabId === 'table'"
          (click)="switchView('table')"
          title="Table View">
          <img src="assets/table-view.svg" alt="Card View" width="24" height="24">
          <span class="view-label">Table View</span>
        </span>
      </div>
      <!-- Deal button -->
      <app-button
        *ngFor="let button of dealButton"
        [label]="button.label"
        [icon]="button.icon"
        (onClick)="onAddDeal()"
      ></app-button>
    </div>
  </div>
 
  <div class="topcard-container">
    <app-topcard
      *ngFor="let card of topcardData; let i = index"
      [amount]="card.amount"
      [title]="card.title"
      [isCurrency]="card.isCurrency"
      [icon]="card.icon"
      [iconColor]="getIconColor(i)">
    </app-topcard>
  </div>
 
  <!-- Card View -->
  <div *ngIf="selectedTabId === 'card'" class="card-container" cdkDropListGroup [class.content-loading]="isLoadingInitialData">
    <div
      *ngFor="let stage of stages; let i = index"
      class="stage-card dx-card"
      [class.collapsed]="stage.collapsed"
      (mouseenter)="onMouseEnter(i)"
      (mouseleave)="onMouseLeave(i)"
      (click)="toggleCollapse(i)"
    >
      <div>
        <app-dealheader
          [stageName]="stage.name"
          [amount]="stage.amount"
          [dealCount]="stage.deals.length"
          [collapsed]="stage.collapsed">
        </app-dealheader>
      </div>

      <div *ngIf="!stage.collapsed">
        <app-dealbody
          [deals]="stage.deals"
          [connectedTo]="connectedDropLists"
          [stageName]="stage.name"
          (dealDropped)="onDealDropped($event)"
          (onEdit)="onEditDeal($event, stage.name)">
        </app-dealbody>
      </div>

      <div *ngIf="stage.hover && !stage.collapsed">
        <app-dealfooter
          [buttons]="dealButton"
          [stageId]="stage.id"
          (buttonClick)="onButtonClick($event)">
        </app-dealfooter>
      </div>
    </div>
  </div>

  <!-- Table View -->
  <div *ngIf="selectedTabId === 'table'" class="table-view">
    <app-table
      [data]="tableData"
      [headers]="tableHeaders"
      [useOwnerTemplate]="false"
      [exportFileName]="'pipeline'"
      (onSelectionChanged)="handleSelectionChanged($event)"
      [allowEditing]="false"
      #pipelineTable>
    </app-table>
  </div>
 
  <!-- Add Deal Modal -->
  <app-add-deal-modal
    [isVisible]="isModalVisible"
    [dealToEdit]="selectedDealForModal()"
    [mode]="isEditMode ? 'edit' : 'add'"
    [selectedStage]="selectedStageId"
    (onClose)="onModalClose()"
    (onSubmitSuccess)="onDealSubmitSuccess($event)"
    (onSubmitError)="onDealSubmitError($event)">
  </app-add-deal-modal>
</div>