:host {
    display: flex;
}

.card-container {
    display: flex; 
    gap: 10px; 
    overflow-x: auto; 
    padding: 16px;  
    padding-top: 45px;
}

.stage-card {
    position: relative;
    min-width: 249px;
    min-height: 738px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    cursor: pointer;
}

.stage-card.collapsed {
    flex: 0 0 50px !important;
    max-width: 50px !important;
    min-width: 50px !important;
    width: 50px !important;
    overflow: hidden;
    padding: 0;
    transition: width 0.3s ease;
}

.stage-card.collapsed * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
  
app-dealfooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.container {
    margin-left: 10vh;
    overflow-x: auto;
    padding: 16px;
    font-family: 'poppins';
}
.topcard-container {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap; 
    width: 100%;
    justify-content: space-between; 
    padding-left: 16px;
  }
  
  .topcard-container app-topcard {
    flex: 1;
    min-width: 300px; 
  }
  
  .topcard-container app-topcard dx-box {
    height: 150px; 
    align-items: center; 
  }
  
.topbar {
    display: flex;
    justify-content: space-between;
    font-family: 'poppins';
}

.topbar h1 {
    font-size: 24px;
    margin: 0;
    padding: 16px;
    font-weight: bold;
}

app-button {
    padding: 8px 16px;
}
