<div class="total-container">
    <div class="sidebar-container">
        <!-- <app-sidebar [navItems]="navItems" [profile]="profile">
        </app-sidebar> -->
            <app-short-sidebar [icons]="icons" [name]="name" [role]="role"></app-short-sidebar>
    </div>
    <div class="content-container">
        <div class="topbar">
            <h1>Pipelines</h1>
            <app-export
                [iconName]="'add'"
                [buttonText]="'Deal'"
                (click)="onAddDeal()"
            ></app-export>
        </div>
        <div class="container">
            <app-topcard 
            *ngFor="let card of topcardData"
            [amount]="card.amount" 
            [title]="card.title"
            [isCurrency]="card.isCurrency"
            [icon]="card.icon">
            </app-topcard>
        </div>
        <div cdkDropListGroup class="card-container">
            <div *ngFor="let stage of stages; let i = index;" class="stage-card" 
                [class.collapsed]="stage.collapsed" 
                (mouseenter)="onMouseEnter(i)" 
                (mouseleave)="onMouseLeave(i)"
                (click)="toggleCollapse(i)">
                <app-dealheader [stageName]="stage.name" [amount]="stage.amount" [dealCount]="stage.deals.length" [collapsed]="stage.collapsed"></app-dealheader>
                <app-dealbody 
                    *ngIf="!stage.collapsed"
                    [deals]="stage.deals" 
                    [connectedTo]="connectedDropLists"
                    [stageName]="stage.name"
                    (dealDropped)="onDealDropped($event)">
                </app-dealbody>
                <app-dealfooter *ngIf="stage.hover && !stage.collapsed"></app-dealfooter>
            </div>
        </div>
    </div>
</div>