<div class="chart-container">
  <dx-scroll-view *ngIf="isMobile" [useNative]="true">
    <dx-chart
      [dataSource]="filteredStages"
      title="Open Pipelines Amount by Stage"
      [rotated]="true"
      [size]="chartSize"
    >
      
      <dxi-series
        valueField="amount"
        argumentField="stage"
        type="bar"
        color="#26A69A"
      ></dxi-series>
      <dxo-argument-axis
        [tickInterval]="1"
        [label]="{ visible: true, overlappingBehavior: 'rotate', rotationAngle: 45 }"
      ></dxo-argument-axis>
      <dxo-value-axis
        title="Sum of Amount"
        [visualRange]="valueAxisRange"
        [tickInterval]="tickInterval"
      >
        <dxo-label
          [customizeText]="customizeValueAxisText"
        ></dxo-label>
      </dxo-value-axis>
      <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip"
      ></dxo-tooltip>
      <dxo-legend
        [visible]="false"
      ></dxo-legend>
      <dxo-adaptive-layout
        [width]="adaptiveLayoutWidth"
        [keepLabels]="true"
      ></dxo-adaptive-layout>
    </dx-chart>
  </dx-scroll-view>
  <dx-chart
    *ngIf="!isMobile"
    [dataSource]="filteredStages"
    title="Open Pipelines Amount by Stage"
    [rotated]="true"
    [size]="chartSize"
  >
    <dxi-series
      valueField="amount"
      argumentField="stage"
      type="bar"
      color="#26A69A"
    ></dxi-series>
    <dxo-argument-axis
      [tickInterval]="1"
      [label]="{ visible: true }"
    ></dxo-argument-axis>
    <dxo-value-axis
      title="Sum of Amount"
      [visualRange]="valueAxisRange"
      [tickInterval]="tickInterval"
    >
      <dxo-label
        [customizeText]="customizeValueAxisText"
      ></dxo-label>
    </dxo-value-axis>
    <dxo-tooltip
      [enabled]="true"
      [customizeTooltip]="customizeTooltip"
    ></dxo-tooltip>
    <dxo-legend
      [visible]="false"
    ></dxo-legend>
    <dxo-adaptive-layout
      [width]="adaptiveLayoutWidth"
      [keepLabels]="true"
    ></dxo-adaptive-layout>
  </dx-chart>
</div>