.chart-container {
    width: 70%;
    margin-left: auto;
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

  }
  
  
  
 
  :host ::ng-deep .dxc-series rect {
    transition: opacity 0.3s;
  }
  
  :host ::ng-deep .dxc-series rect:hover {
    opacity: 0.8;
  }