<div class="dx-card smart-notes-container">
  <h3>Smart Notes</h3>

 <dx-text-box
  [value]="newNoteContent"
  (onValueChanged)="newNoteContent = $event.value"
  placeholder="Write a note..."
  stylingMode="outlined">
</dx-text-box>

 <dx-button
  text="Add Note"
  type="default"
  [disabled]="!newNoteContent.trim()"
  [class.highlighted-add-button]="newNoteContent.trim().length > 0"
  (onClick)="addNote()">
</dx-button>

  <div *ngFor="let note of notes; let i = index" class="note-template">
    <div>
      <strong>{{ note.content }}</strong><br>
      <small>{{ formatDate(note.createdAt) }}</small>
    </div>
    <dx-button
      text="Delete"
      type="danger"
      stylingMode="text"
      (onClick)="deleteNote(i)">
    </dx-button>
  </div>
</div>
